header { 
    background-color: white;
    height: 250px;    
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
    image-rendering: auto;
    
    }
nav {
    background-color: white;
    height: 410px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    image-rendering: auto ;
}
.container { 
    margin-left: auto;
    margin-right: auto;
    width: 924px;
    font: poppins;
    
}
main { 
    background: color #e1ebe6;
    height: 1500px;
    margin-left: auto;
    margin-right: auto;
    width: 924px;
    text-align: center;
}
footer { 
    background-color:#e1ebe6;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    text-align: center;
    width: 540px;
    height: auto;
    margin-left: 13.5%;
}
h1 {
    font-size: 30px;
    color: orange;
    font-family:poppins;
    text-align: center;
    padding-top: 15%;
} 
nav a {
    text-decoration: none;
    font-size: medium;
    padding-left: 12px;
    padding-right: 12px;
}
section { 
    background-color: #f6b400;
    margin-left: 13.5%;
    margin-right: auto;
    height: 494px;
    width: 540px;
    text-align: center;
    
}
div { 
    font-size: 150%;
    font-style: poppins;
    color: #f6b400;
    font-weight: bold;
}


 


   
