header { 
    background-color: white;
    height: 250px;    
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
    image-rendering: auto;
    
    }
nav {
    background-color: white;
    height: 400px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    image-rendering: auto ;
}
.container { 
    margin-left: auto;
    margin-right: auto;
    width: 924px;
    font: poppins;
    
}
main { 
    background-color: white;
    height: 950px;
    margin-left: auto;
    margin-right: auto;
}
footer { 
    background-color: rgb(23, 40, 116);
    margin-left: auto;
    margin-right: auto;
    height: 250px;
}
table {

}
h1 {
    font-size: 30px;
    color: orange;
    font-family:poppins;
    text-align: center;
    padding-top: 15%;
} 
nav a {
    text-decoration: none;
    font-size: medium;
    padding-left: 12px;
    padding-right: 12px;
}
image { 
    min-height: 35opx;
    min-width: 924px;
}
   
